:root {
    --primario: #631611;
    --secundario: #866d67e9;
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --negro: #1F1E1E;
    --grisClaro: #e1e1e1;

    --separacion: 5rem;

    --fuentePrincipal: 'Lato', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
}
/**globales**/
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
h1, h2, h3, h4, h5{
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion)/2) 0;
}
h1{
    font-size: 4.4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.2rem;
}
h4{
  font-size: 1.6rem;
}
h5{
  font-size: 1rem;
}
img{
    max-width: 80%;
    display: block;
    height: auto;
    margin: 0 auto;
}
/** utilidades **/
.text-center{
    text-align: center;
}
/**navbar**/
/* Estilos para pantallas grandes */
.navbar {
    display: flex;
    justify-content: right;
    align-items: left;
    background-color: #333;
    color: var(--secundario);
    padding: 10px;
  }
  
  
  .navbar-menu {
    display: flex;
    list-style: none;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  .navbar-menu li a {
    color: var(--secundario);
    text-decoration: none;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
      cursor: pointer;
    }
  
    .navbar-toggle span {
      display: block;
      height: 3px;
      width: 25px;
      margin-bottom: 5px;
      background-color: var(--secundario);
    }
  
    .navbar-menu.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #333;
      width: 100%;
      top: 60px;
      left: 0;
      padding: 10px;
    }
  
    .navbar-menu.active li {
      margin: 10px 0;
    }
  }
  /** header **/
  .header {
    background-color: var(--negro);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: var(--primario);

}
.contenido-header {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contenido-header {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
    .contenido-header{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .foto-perfil{
        max-width: 70%;
    }
}
.texto-header{
    text-align: center;
    
}
@media (min-width: 768px) {
    .texto-header{
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        
    }
}
.mi-titulo {
    margin-top: 0;
}
.header-parrafo {
  margin: 0;
  color: var(--secundario)
} 


.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 1rem;
    text-align: center;
    padding: 40px 0;
  }

@media (min-width: 768px) {
      .grid{
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      }
  }
  
.grid > div {
    box-shadow: 0px 4px 8px rgba(4, 12, 22, 0.2);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    max-width: 100%;
  }

  
.grid > div:hover {
    box-shadow: 0px 8px 16px rgba(4, 12, 22, 0.4);
    transform: scale(1.1);
  }
  
.grid > div > img {
    width: 20%;
    margin: 0 auto;
    
  }
.icon{
    padding-top: 1rem;
  }
  
.grid > div > p {
    font-weight: 400;
    margin-top: 1rem;
  }
  
.title {
    font-size: 2rem;
    font-weight: 900;
    display: inline-block;
    margin-top: 1rem;
  }
  
.sub-title {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  .contenedor-experiencia {
    display: flex;
    flex-direction: column;
    
  }
  
  .experiencia {
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(4, 12, 22, 0.2);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    max-width: 100%;
  }
  .experiencia:hover{
    box-shadow: 0px 8px 16px rgba(4, 12, 22, 0.4);
    transform: scale(1.1);
  }
  @media (min-width: 768px) {
      .experiencia{
        text-align: left;
        
      }
  }
  .grid-proyectos{
    justify-content: center;
    align-items: center;
  }
  .grid-proyecto{
    padding: 1rem;
  }
  
  .footer {
    background: var(--gris)
     }
    .dk-footer-box-info .footer-social-link h3 {
      color: #fff;
      font-size: 24px;
      margin-bottom: 25px; }
    .dk-footer-box-info .footer-social-link ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    .dk-footer-box-info .footer-social-link li {
      display: inline-block; }
    .dk-footer-box-info .footer-social-link a i {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      background: #000;
      margin-right: 5px;
      color: #fff; }
      .dk-footer-box-info .footer-social-link a i.fa-facebook {
        background-color: #3B5998; }
      .dk-footer-box-info .footer-social-link a i.fa-twitter {
        background-color: #55ACEE; }
      .dk-footer-box-info .footer-social-link a i.fa-google-plus {
        background-color: #DD4B39; }
      .dk-footer-box-info .footer-social-link a i.fa-linkedin {
        background-color: #0976B4; }
      .dk-footer-box-info .footer-social-link a i.fa-instagram {
        background-color: #B7242A; }
      
.redes-sociales{
  list-style-type: none;
  padding: 2rem
}
.red-social{
  display: inline-block;
  padding: 0.5rem;
  
}
@media (min-width: 768px) {
  .redes-sociales{
    padding: 1rem;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
    .red-social{
      padding: 1rem;
      
    }
}
.footer-nombre{
  padding-bottom: 2rem;
}
  
